* {
    font-size: 20px;
    background-color: wheat;

}

#mii ul {
    
    color:rgb(2, 2, 2);
    margin-left: 120px;
    
}
#mii ul li:hover {
    color: black;
    background-color: darkgoldenrod;
    
}

#mii ul li:hover>ul {
    display: block;
    border: 100px;
}


